.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 2.5rem;
    background-color: $yellow;
    color: $dark-background;
    font-weight: 400;
    border-radius: 1.875rem;
    padding: 0.3125rem 4.0625rem;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover,
    &:active,
    &:focus {
        background-color: $dark-background;
        color: $yellow;
    }
    &--link {
        background-color: $red;
        color: #fff;
        font-weight: 300;
        font-size: 0.875rem;
        padding: 0.3125rem 2.1875rem;
        min-height: 1.875rem;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;
        &:hover,
        &:active,
        &:focus {
            background-color: $yellow;
            color: $dark-background;
        }
    }
}