.footer {
    background-color: $dark-background;
    color: #fff;
    padding: 2.8125rem 0;
    &__nav {
        display: flex;
        justify-content: space-around;
    }
    &__copy {
        margin-right: 1.875rem;
        padding-left: 1.5rem;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/copy.png);
            width: 1rem;
            height: 1.5625rem;
            left: 0;
            top: -0.4375rem;
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 3.75rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active {
            color: $yellow;
            text-decoration: none;
        }
    }
}